1.What are data structures, and why are they important?



Ans.
Data structures are ways of organizing and storing data efficiently for easier access and manipulation. They are crucial for optimizing performance in algorithms and solving problems effectively.

2.Explain the difference between mutable and immutable data types with examples.

Ans. Mutable: Can be modified after creation (e.g., lists, dictionaries).

Immutable: Cannot be modified after creation (e.g., strings, tuples).

3.What are the main differences between lists and tuples in Python?

Ans .
Lists: Mutable, slower, enclosed in [].

Tuples: Immutable, faster, enclosed in ().

4.Describe how dictionaries store data.

Ans.
Dictionaries store data as key-value pairs using a hash table for efficient lookup.

5.Why might you use a set instead of a list in Python?

Ans.
Sets are used for uniqueness and faster membership testing since they don‚Äôt allow duplicates and use hashing.

6.What is a string in Python, and how is it different from a list?

Ans.
Strings are immutable sequences of characters, while lists are mutable sequences that can hold any data type.

7.How do tuples ensure data integrity in Python?

Ans.
Tuples are immutable, preventing accidental modification of their contents.

8.What is a hash table, and how does it relate to dictionaries in Python?

Ans.
A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally.

9.Can lists contain different data types in Python?

Ans.
Yes, lists can hold elements of different data types.

10.Explain why strings are immutable in Python.

Ans.
Strings are immutable for performance and security, as their fixed state ensures they are thread-safe and reusable.

11.What advantages do dictionaries offer over lists for certain tasks?

Ans.
Dictionaries provide faster lookups, retrieval by key, and organization of data as key-value pairs.

12.Describe a scenario where using a tuple would be preferable over a list.

Ans.
Use tuples for fixed collections of data, like coordinates (x, y) or database keys, where immutability is needed.

13.How do sets handle duplicate values in Python?

Ans.
Sets automatically discard duplicate values.

14.How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?

Ans.
Lists: Checks for existence of a value.

Dictionaries: Checks for existence of a key.

15.Can you modify the elements of a tuple? Explain why or why not.

Ans.
No, tuples are immutable, meaning their elements cannot be changed after creation.

16.What is a nested dictionary, and give an example of its use case.

Ans.
A nested dictionary is a dictionary inside another dictionary, useful for hierarchical data like student records.

17.Describe the time complexity of accessing elements in a dictionary.

Ans.
Accessing elements in a dictionary has an average time complexity of
ùëÇ
(
1
)
O(1), thanks to hashing.

18.In what situations are lists preferred over dictionaries?

Ans.
Lists are better when data order matters or when you don‚Äôt need key-based retrieval.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans.
Dictionaries don‚Äôt maintain insertion order (before Python 3.7), so keys are not retrieved in a predictable sequence.

20.Explain the difference between a list and a dictionary in terms of data retrieval.

Ans.
Lists: Retrieve elements by index.
Dictionaries: Retrieve elements by key.

1.Write a code to create a string with your name and print it.

In [1]:
STR = "Priyanshu"
print(STR)

Priyanshu

2.Write a code to find the length of the string "Hello World".

In [2]:
print(len("Hello World"))

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4.Write a code to convert the string "hello" to uppercase.

In [6]:
str="hello"
STR=str.upper()
print(STR)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [7]:
str = "I like apple"
new_str = str.replace("apple", "orange")
print(new_str)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
list=[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [13]:
list=['a','b','c','d']
print(list[1])

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
list=[10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [15]:
T=(10,20,30)
T

(10, 20, 30)

12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [17]:
T=('apple','banana','cherry')
print(T[0])

apple

13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [18]:
T=(1,2,3,2,4,2)
T.count(2)

3

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [19]:
T=('dog','cat','rabbit')
T.index('cat')

1

15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [20]:
T= ('apple', 'orange', 'banana')
if "banana" in T:
  print("banana is present in the tuple")
else:
  print("banana is not present in the tuple")

banana is present in the tuple

16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [21]:
S = {1, 2, 3, 4, 5}
S

{1, 2, 3, 4, 5}

17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [22]:
S={1,2,3,4}
S.add(6)
S

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [24]:
T=(10,20,30)
T

(10, 20, 30)

19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [25]:
T=('apple','banana','cherry')
print(T[0])

apple

20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [26]:
T=(1,2,3,2,4,2)
T.count(2)

3

21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [27]:
T=('dog','cat','rabbit')
T.index('cat')

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [28]:
T= ('apple', 'orange', 'banana')
if "banana" in T:
  print("banana is present in the tuple")
else:
  print("banana is not present in the tuple")

banana is present in the tuple

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [29]:
S={1,2,3,4,5}
S

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [30]:
S={1,2,3,4}
S.add(6)
S

{1, 2, 3, 4, 6}